body.home {

	.intro {
		display: relative;
		width: 100vw;
		height: 100vh;
		overflow: hidden;

		video {
			position: fixed;
			width: auto;
			height: 100vh;
			left: 50%;
			top: 0;
			transform: translateX(-50%);

			@include breakpoint(xl) {
				width: 100vw;
				height: auto;
			}
		}

		.intro__title {
			position: absolute;
			bottom: 64px;
			left: 0;
			width: 100%;
			color: $c-bg;
			padding: 0 16px;
			text-align: center;

			h2, h3 {
				margin: 8px 0;
				text-shadow: 2px 2px 2px $c-text;
			}
		}
	}
}
