body.home {

	.intro {
		display: relative;
		width: 100vw;
		height: 100vh;
		overflow: hidden;

		video {
			position: fixed;
			width: auto;
			height: 100vh;
			left: 50%;
			top: 0;
			transform: translateX(-50%);

			@include breakpoint(xl) {
				width: 100vw;
				height: auto;
			}
		}

		.intro__title {
			position: absolute;
			bottom: 64px;
			left: 0;
			width: 100%;
			color: $c-bg;
			padding: 0 16px;
			text-align: center;

			h2, h3 {
				margin: 8px 0;
				text-shadow: 2px 2px 2px $c-text;
			}
		}
	}

	.locations {
		position: relative;
		z-index: 1;
		background: $c-bg;
	}

	.locations__item {
		padding: 32px 0;
		background-size: cover;
		background-attachment: fixed;

		h3 {
			font-weight: 900;
			color: $c-bg;
			text-shadow: 2px 2px 2px $c-text;
		}

		.dates {
			color: $c-light;
			font-size: $s-xxs;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			text-shadow: 2px 2px 2px $c-text;
		}
	}

	.about {
		position: relative;
		z-index: 1;
		background-color: $c-bg;
		padding: 32px 0;
	}

	.media {
		position: relative;
		z-index: 1;
		color: $c-bg;
		background-color: $c-darkgray;
		padding: 32px 0;
	}
}
