body {
	font-family: $f-system;
	font-size: $s-sm;
	line-height: 1.5;
	color: $c-text;
	background: $c-bg;
}

.hidden {
	display: none;
}

.clear {
	clear: both;
}

p {
	padding: 0 0 20px 0;
	margin: 0;
}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

a {
	transition: ease 0.3s all;
	color: $c-dark;

	&:hover {
		color: $c-text;
		background-color: $c-light;
	}
}
