html {
	scroll-behavior: smooth;
}

p {
	margin: 0 0 16px 0;
}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

a {
	transition: ease 0.3s all;
	color: $c-dark;

	&:hover {
		color: $c-text;
		background-color: $c-light;
	}
}

.hidden {
	display: none;
}

img {
	width: 100%;
	height: auto;
	margin-top: 16px;
}

@include breakpoint(md) {

	.alignright {
		width: 40%;
		max-width: 400px;
		float: right;
		margin: 0 0 16px 16px;
	}

	.alignleft {
		width: 40%;
		max-width: 400px;
		float: left;
		margin: 0 16px 16px;
	}
}

.clear {
	clear: both;
}

.breadcrumbs {
	border-top: 3px solid $c-dark;
	position: relative;
	z-index: 1;
	font-size: $s-xxs;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding: 16px;

	a {
		text-decoration: none;
	}
}
