$s-xxs: 13px;
$s-xs: 14px;
$s-sm: 18px;
$s-md: 24px;
$s-lg: 30px;
$s-xl: 36px;

body {
	font-family: $f-open-sans;
	font-weight: normal;
	font-size: $s-sm;
	line-height: 1.75;
	color: $c-text;
	background: $c-bg;
}

h1, h2, h3, h4, h5 {
	font-family: $f-open-sans;
	font-weight: 600;
	line-height: 1.1em;
}

h1 {
	padding: 0;
}

h2 {
	font-weight: 900;
	font-size: 1.8em;
}

h3 {
	font-weight: lighter;
	font-size: 1.8em;
}

h4 {
	font-size: 1.4em;
	font-weight: normal;
}

h5 {
	font-size: 1em;
	font-weight: bold;
}

.container {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 30px;

	&:after {
		visibility: hidden;
		display: block;
		content: "";
		clear: both;
		height: 0;
	}
}
